.header {
	background-color: rgb(40, 66, 100);
	box-sizing: border-box;
	border-bottom: 5px solid black;
	border-top: 15px solid black;
    color: rgb(226, 230, 210);
	padding-top: 15px;
	
}
    


.app {
  text-align: center;
 
 
}
